[class*='col-'] {
    vertical-align: top;
    display: inline-block;
    padding-right: 20px;
    padding-bottom: 20px;
    width: 20%;
  }
  a {
    text-decoration: none;
  }
  *, *::after, *::before {
    box-sizing: border-box;
  }
  .grid {
    margin: 0;
  }

  .grid-pad {
    padding: 10px 0;
  }

  @media (max-width: 600px) {
    .module {
      font-size: 10px;
      max-height: 75px; }
  }
  @media (max-width: 1024px) {
    .grid {
      margin: 0;
    }
    .module {
      min-width: 60px;
    }
  }