<!-- <div class="example-container display">
  <mat-form-field hintLabel="Veld verplicht" appearance="fill" class="formfield">
    <mat-label>Title</mat-label>
    <input matInput #newTitle placeholder="Ex. Random Title">
  </mat-form-field>

  <mat-form-field hintLabel="Categorie verplicht" appearance="fill" class="formfield">
    <mat-label>Kies categorie</mat-label>
    <mat-select #newCategory>
      <div *ngFor="let cat of categories">
        <mat-option value="{{cat}}" class="{{cat}}">{{cat}}</mat-option>
      </div>
    </mat-select>
  </mat-form-field>

  <mat-form-field hintLabel="Veld verplicht" appearance="fill" class="formfield contentfield">
    <mat-label>Content</mat-label>
    <input matInput #newContent placeholder="Ex. Lorem Ipsum">
  </mat-form-field>
</div>

<button mat-raised-button (click)="addnote(user.name, newTitle.value, newContent.value, newCategory.value)"
  class="display addbutton">Voeg notitie toe voor {{user.name}}</button>

<br> -->